@{
    ViewBag.Title = "About";
}

<h3>A little about the site...</h3>
<p> This blog website was created as part of an assingment for Web Development CIS2054 - Year 2015. Throughout development there was constant
    communication and help between team mates. The development of this site followed the MVC design pattern. For further information 
    please refer to the documentation provided. </p>

@section PostTitle{
    <h1>@ViewBag.Title</h1>
    <hr class="small">
    <span class="subheading">@ViewBag.Message</span>
}
