@{
    ViewBag.Title = "About";
}

<p>Use this area to provide additional information.</p>

@section PostTitle{
    <h1>@ViewBag.Title</h1>
    <hr class="small">
    <span class="subheading">@ViewBag.Message</span>
}
