@{
    ViewBag.Title = "Contact";
}

<h2>Our Team!</h2>

<h4>Clara Galea</h4>
<h6>B.Sc.IT (Hons) Computing and Business</h6>
<br/>
<h4>Sheryl Camilleri</h4>
<h6>B.Sc.IT (Hons) Software Development</h6>
<br/>
<h4>Natasha Nikolic</h4>
<h6>B.Sc.IT (Hons) Software Development</h6>


@section PostTitle{
    <h1>@ViewBag.Title</h1>
    <hr class="small">
    <span class="subheading">@ViewBag.Message</span>
}